@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: 'Gloria Hallelujah';
  font-size: 3rem;
  padding-top: 24px;
}

.header > div {
  margin-right: auto;
  margin-left: -90px;
}

.header > div > img {
  width: 100px;
  height: 50px;
}

.header > i {
  margin-right: auto; 
  margin-left: 36px;
}

@media only screen and (max-width: 600px) {
  .header > img {
    display: none;
  }
}
