<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Stream!</title>
    </head>
    <body>
        <audio>
            <source src="http://mp3clan.com/dl.php?type=get&s=26fcbf89a53175651ede754bd6e889cb&u=NnNIMzlrMEJadjlNMHFjT25MRmVOQVhINzdCS1VJVnI3NmRxZFpvYXBoRllnR2tkSnRCeTc4dTVhVXhSZE1MaU9TZVc3ZENWU2NtTGJTSER1RmorUStqUGJtNU5aMXNrTUFJakNKQm0rdnk4Mk5rTEE4clNLTGtsdEVySXNPZXZVNitxM3RaZ3p3QjFycVV5K2g1WXE3dTZRTHJTdGhOVktsYXRiMnMvSjh4TzBCT1RsN1JEaGJFbVlvVHdyWDVSaFlzaDgwTjQ2TGxNNkhMcVJ4QkFWMEgrY0dlVmdWMG9iZ3Y2QVlwUkpNM0Q0c3FxMEpSNEVxVGovYlVYNjRSS05QQmxhaWdoUFJsUVNkUFUwVzhHUmc9PSMjIzQ1OTY4OTc1NzA0MDAjIyMyMTY=&tid=371745457_456510781&source=aHR0cDovLzk1LjIxMS4xNjIuOTgvZ2V0LnBocA==&tt=1&name=Camila_Cabello_-_Crying_In_The_Club" type="audio/mpeg" />   
        </audio>
        <input type="button" name="play" value="play" id="toggle" />
        <input type="range" min="0" max="100" value="50" oninput="setVolume(this.value)" id="myRange">
        <p id="volume"></p>
    </body>
    <script type="text/javascript">
        var muted = true;
        var audio = document.getElementsByTagName('audio')[0];
        var toggleButton = document.getElementById('toggle');
        toggleButton.addEventListener("click", () => {
            muted ? audio.play() : audio.pause();
            muted = !muted;
            if (!muted) {
                toggleButton.value = "pause";
            }
            else {
                toggleButton.value = "play";
            }
        });
        function setVolume(value) {
            document.getElementById('volume').innerText = value;
            audio.volume = value/100; 
        }

        var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');
    </script>
</html>
